.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

/* cant center top and bottom to make perfect X */

@keyframes top {
  0% { transform: rotate(0); margin-top: 0%;}
  /* 50%  { margin-top: 22%;} */
  100%   { transform: rotate(45deg); margin-top: 50%; min-width: 70px; min-height: 10px;}
}

@keyframes middle {
  0%   { opacity: 1;}
  /* 50%  { opacity: 0.5;} */
  100% { opacity: 0;}
  
}

@keyframes bottom {
  0% { transform: rotate(0); margin-bottom: 0%;}
  /* 50%  { margin-bottom: 22%;} */
  100%   { transform: rotate(-45deg); margin-bottom: 50%; min-width: 70px; min-height: 10px;}
}